---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}


<!-- CUSTOM CODE TO ADD BUTTONS TO TOP OF PAGE -->
<div style="text-align:center;">
    <button type="button" id="addToCart">Add All to Cart</button>
    &nbsp;||&nbsp;
    <button type="button" id="clearCart">Remove All Items</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    // delay 1 second to allow the page to load so we can grab the classNames.
    // not sure how to get around this the best way
    function delay() {
        var products = document.getElementsByClassName('card');
        for (let i=0; i<products.length; i++) {
            console.log(products[i].getAttribute('data-test'));
        }
        var productIDarray = [];
        for (var i = 0; i < products.length; i++) {
            productIDarray.push(products[i].getAttribute('data-test').substring(5));
        }

        // when #addToCart is clicked...
        $("button#addToCart").click(function() {
            // ADD all products in productIDarray to cart consecutively, one call at a time...
            const control = async _ => {
                for (let i = 0; i < productIDarray.length; i++) {
                    let final = false;
                    if (i == productIDarray.length - 1) final = true;

                    // call add product on cart.php async
                    await $.get("/cart.php?action=add&product_id=" + productIDarray[i])
                    .done(function(data, status, xhr) {
                        if (final == true) {
                            alert("All items added to cart.");
                            window.location = "/cart.php";
                        }
                    })
                    .fail(function(xhr, status, error) {
                        console.log('oh noes, error with status ' + status + ' and error: ');
                        console.error(error);
                        return xhr.done();
                    });
                }
            }
            control();
        });
    }
    setTimeout(delay.bind(this), 1000);

    // **** CLEAR CART BUTTON CLICK FUNCTION HERE
    $("button#clearCart").click(function() {

        // get the cart and cartId
        fetch('/api/storefront/cart', {
            'credentials':'include'
        }).then(function(response) {
            return response.json();
        }).then( async function(cart) {
            // create a 'basket' array of items
            let basket = cart[0].lineItems.physicalItems;

            if (basket.length) {
                // clear items
                let cartId = cart[0].id

                for (var i=0; i < basket.length; i++) {
                    let item = basket[i];
                    let url = '/remote/v3/carts/' + cartId + '/items/' + item.id;
                    let final = false;
                    if (i == basket.length - 1) final = true;
                    let actionUrl = "/cart.php?action=remove&item=" + item.id;

                    // call remove cart item from cart.php
                    await $.get(actionUrl)
                    .done(function(data, status, xhr) {
                        if (final == true) {
                            alert("Cart cleared.");
                            location.reload();
                        }
                    })
                    .fail(function(xhr, status, error) {
                        console.log('oh noes, error with status ' + status + ' and error: ');
                        console.error(error);
                        return xhr.done();
                    });
                }
            }
            return cartId;
        }).catch(function (error) {
            console.error("failed to get cart");
            console.error(error);
        });
    });
</script>


{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}}
{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    {{{region name="category_below_header"}}}
{{/unless}}
{{{category.description}}}
<div class="page">
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}

    <div class="page-content" id="product-listing-container">
        {{> components/category/product-listing}}
        {{{region name="category_below_content"}}}
    </div>
</div>

{{/partial}}
{{> layout/base}}
