---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}


<!-- CUSTOM CODE TO ADD BUTTON TO TOP OF PAGE -->
<button type="button" id="addToCart">Add All to Cart</button>
<script type="text/javascript" src="../assets/js/JQuery.js"></script>
<script>

// delay 1 second to allow the page to load so we can grab the classNames. not sure how to get around this the best way
function delay() {
    var products = document.getElementsByClassName('card');

    for (let i=0; i<products.length; i++) {
        console.log(products[i].getAttribute('data-test'));
    }


    var productIDarray = [];
    for (var i = 0; i < products.length; i++) {
        productIDarray.push(products[i].getAttribute('data-test').substring(5));
    }

    // when #addToCart is clicked...
    $("button#addToCart").click(function() {

        // ADD all products in productIDarray to cart consecutively, one call at a time...
        const control = async _ => {
            for (var i = 0; i < productIDarray.length; i++) {
                console.log("adding product with productID " + productIDarray[i] + " to cart...");

                var final = false;
                if (i == productIDarray.length - 1) final = true;

                await $.get("/cart.php?action=add&product_id=" + productIDarray[i])
                .done(function(data, status, xhr) {
                    console.log('item complete with status ' + status);
                    if (final == true) window.location = "/cart.php";
                })
                .fail(function(xhr, status, error) {
                    console.log('oh noes, error with status ' + status + ' and error: ');
                    console.error(error);
                    return xhr.done();
                });
            } // for
        } // async
        control();
    });
}
setTimeout(delay.bind(this), 1000);
// end custom code
</script>


{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}}
{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    {{{region name="category_below_header"}}}
{{/unless}}
{{{category.description}}}
<div class="page">
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}

    <div class="page-content" id="product-listing-container">
        {{> components/category/product-listing}}
        {{{region name="category_below_content"}}}
    </div>
</div>

{{/partial}}
{{> layout/base}}
